{% extends 'index.html' %}
{% load staticfiles %}

{% block content%}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 mt-5 border-bottom">
    <h1 class="h2">{{ request.user.employee.company }} Jobtypes:</h1>
    <a href="javascript:history.go(-1)" class="btn btn-outline-primary mr-5" style="width:15%">back</a>
</div>

<div class="container jobtypeCenter">
    <form method="Post">{% csrf_token %}
        <div class="card card-body">
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>


{% endblock%}
