{% extends 'index.html'%}
{% load staticfiles %}
{% block content %}

<body class="text-center">
    <!--" background-image:url('{% static "images/login.jpg" %}')";-->

    <div class="form-signin">
        <!--
             <form class="form-signin"> -->
        <form method="POST" class="signin form1"> {% csrf_token %}
            <div class="imgcontainer">
                <img class="mb-4" src="{% static 'images/login_log.jpeg' %}" alt="Payroll Logo" width="200" height="200">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            </div>

            {% include 'messages.html' %}


            <div class="container">
                {{form.username.label_tag}}
                {{form.username}}
                <div class="loginlable">
                    {{form.password.label_tag}}
                    {{form.password}}
                </div>
            </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>

                    <button class="btn btn-lg btn-success" type="submit">Sign in</button>
                    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>

        </form>
    </div>

</body>




{% endblock %}
