<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="practice.css">


        <title>Hello, world!</title>
    </head>
    <body>
        <div class="sidenav">
            <a href="">Home</a>
            <a href="">Contact Us</a>
            <a href="">About us</a>
            <a href="">sachin</a>

        </div>
        <div id= "sidebar">
            <ul>
                <li> Home </li>
                <li> about</li>
                <li> Contact </li>

            </ul>
            <div class="toggle-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>




            <script>
                $( document ).ready(function() {

                $('.main-container a.rem-widget').click(function(){
                $(this).parent().hide('slow');
                $('.'+$(this).attr('id')).show('slow');
                });
                $('.navigation a').click(function(){
                $(this).hide('slow');
                $('#'+$(this).attr('class')).parent().show('slow');
                });

                });
            </script>
            <body>

                <div class="main-container">
                    <a href="#" class="rem-widget" id="nav-widget-add1">Remove</a>
                </div>
                <div class="main-container">
                    <a href="#" class="rem-widget" id="nav-widget-add2">Remove</a>
                </div>
                <div class="main-container">
                    <a href="#" class="rem-widget" id="nav-widget-add3">Remove</a>
                </div>
                <div class="main-container">
                    <a href="#" class="rem-widget" id="nav-widget-add4">Remove</a>
                </div>

                <div class="navigation">
                    <a href="#" style="display:none;" class="nav-widget-add1">Container 1</a>
                    <a href="#" style="display:none;" class="nav-widget-add2">Container 2</a>
                    <a href="#" style="display:none;" class="nav-widget-add3">Container 3</a>
                    <a href="#" style="display:none;" class="nav-widget-add4">Container 4</a>
                </div>

                </body>

    </body>
    </html>
