{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 mt-5 border-bottom">
    <h1 class="h2">Employee Salary Add </h1>
    <a href="javascript:history.go(-1)" class="btn btn-outline-primary mr-5" style="width:15%">back</a>

    </div>
</div>

<div class="card card-body center">

    <form method="post">{% csrf_token %}

        {{ add_salary.as_p }}
        <p class="btncenter"> <button type="submit" class="btn btn-success" style="width:30%">Next
        </button></p>

    </form>


    {% endblock %}
