.btn-add-emp {
  font-size: 20px;
  padding: 7px 11px;
  width: 121px;
  float: right;
}

.cont-emp {
  margin-top:16px

}
.form_add_employee {
  margin: auto;
  width:727px;
}
.sidebar-sticky {
  position: sticky;
  top: 48px;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}



/* css For Employee Profile  */

.cardwidth {
  min-width:75%;

}

.user-row {
  margin-bottom: 14px;
}

.user-row:last-child {
  margin-bottom: 0;
}

.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

.dropdown-user:hover {
  cursor: pointer;
}

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}


.table-user-information > tbody > tr > td {
  border-top: 0;
}
.toppad
{margin-top:20px;
}

.setmargin {
  margin-left: auto;
  margin-right: auto;
  width:auto;

}


/* Css for The Login Page */



.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}


.indexcard {
  width:11rem;
  margin-left: -1rem;
  margin-top: -3rem;
  margin-bottom:-3rem;
}
.jumbosidenav{
  margin-right: -1rem;
  margin-left: -2rem;
  margin-top: 1rem;
//  position:fixed;

}
.stickycont{
  position:fixed;
}


.signupbutton {
  margin-left: 18rem;
  margin-right: auto;
  width: 10rem;
}

.stickymargin {
  top:9rem;
  left:2rem;
}
.a1{
  background-color:#f1f1f1f1;
}

.right {
  margin-right:-47rem;
}
/* css for the index.html signup form align center */

.signupcenter {
  margin-left: auto;
  margin-right: auto;
}

/* css for index.html */

.backcolor {
  background-color:#80808017;
}